.sign-up,.login{
    margin-top: 100px;
    text-align: center;
    h1{
        margin-bottom: 20px;
        text-align: center;
        color: var(--themeColor);
    }

    .toggle-link{
        margin-top: 20px;
        color: blue;
        cursor: pointer;
    }
}

.login-error{
    font-size: 16px;
    margin-top: 10px;
}