/* You can add global styles to this file, and also import other style files */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1200px;
    @media screen and (min-width:1400px){
        max-width: 1400px;
    }
    margin: auto;
}
*{ 
    font-family: cursive;
}
body{
    font-size: 16px;
}

:root{
    --themeColor:green;
    --blackColor: #000;
    --errorColor:red;
}



// common stylings

.common-form{
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: auto;
    .form-input{
        height: 35px;
        margin-bottom: 15px;
        border-radius: 10px;
        outline: none;
        border: 1px solid var(--themeColor);
        padding: 0 10px;
        color: var(--blackColor);
        &::placeholder{
            color: var(--blackColor);
        }
        &.error{
            border-color:var(--errorColor) ;
        }
    }
    .form-btn{
        height: 35px;
        margin-bottom: 15px;
        border-radius: 10px;
        border: 1px solid var(--themeColor);
        width: 50%;
        margin: auto;
        background: none;
        cursor: pointer;
    }
}

.text-center{
    text-align: center;
}
.error-text{
    color: var(--errorColor);
}
